body, html{
    margin: 0;
    padding: 0;
}
div.not-bell{
    height: 300px;
    width: 300px;
    background-color: rebeccapurple;
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
}
.fa-solid.fa-bell.custom{
    font-size: 100px;
    position: relative;
    left:calc(50% - 50px);
    top: calc(50% - 50px);
}
div.not-bell > .notifications{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: green;
   position: absolute;
   left:50%;
   bottom: calc(50% + 10px);
}
.not-num{
    text-align: center;
    font-size: 40px;
    position: relative;
    bottom: 38px;
    color: white;
}